<!--
  Name: Oluwadamilola Adesola
  CU-ID: 101182761
  COMP 2406: Assginment 4
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/jpg" href="https://i.ibb.co/Bw9f1HX/favicon-32x32.png" />
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link href="/views/assets/css/failure.css" rel="stylesheet">
  <title>Access Forbidden: 403</title>
</head>

<body>
  <div class="card">
    <div class="checkmark">
      <i class="bx bx-x checkmark"></i>
    </div>
    <h1>403</h1>
    <p>Access Forbidden<br /> You need to login to Order from this Restaurant </p>
    <br />
    <p> You will be redirected to the home page in 5 seconds.</p>
  </div>
  <script type="text/javascript">
    function Redirect() {
      window.location = "/home";
    }
    setTimeout('Redirect()', 5000);
  </script>

</body>

</html>